@import "../../../styles/abstracts/style.scss";

.referFriendsSection {
  min-height: 700px;
  background-color: $bg-yellow;
  color: $text-color-darker;

  @include medium-screen {
    height: 650px;
  }

  .contentContainer {
    width: 100%;
    height: 100%;
    @include flex-column;

    @include medium-screen {
        @include flex-row;
        gap: 50px;
    }

    .referFriendsFormContainer {
      width: 100%;
      height: 100%;
      padding: 30px 0;
      
      @include medium-screen {
          padding: 50px 0;
      }

      .form {
        width: 100%;
        height: 100%;
        background-color: $bg-light-pink;
        border-radius: 10px;
        border: 1px solid $text-color-darker;
        padding: 40px 50px;
        @include flex-column;
        gap: 20px;

        .headingContainer {
          h1 {
            font-size: $heading-large;
            line-height: 3rem;
          }
        }

        .inputContainer {

           span {
            display: block;
            color: $error-color;
            font-size: $text-small;
            padding-bottom: 10px;
           }

          .inputWithIcon {
            position: relative;
            margin-bottom: 10px;
            input {
              padding-left: 40px;
              border: 1px solid $text-color-brighter;
            }

            .emailIcon {
              position: absolute;
              top: 25%;
              left: 5%;
            }
          }

          button {
            background-color: $call-to-action-blue-color;
            border-color: $text-color-darker;
            color: white;
          }

        }

        .limits {
          height: 100%;
          @include flex-column;
          justify-content: flex-end;
          
          p {
            color: $text-color-brighter;
            font-size: $text-small;
            
          }
        }
      }
    }


    .referFriendsStepsContainer {
        width: 100%;
        height: 100%;
        @include flex-column;
        justify-content: center;
        padding: 50px 0; 
        gap: 30px;

        .flexRowReverse {
            flex-direction: row-reverse;
        }

        .flexColum {
            flex-direction: column;
        }
    }
  }
}

