// Colors
$bg-yellow: #f8cc5d;
$bg-light-pink: #f8f4f9;
$bg-dark-grey: #45565e;
$border-color: #435354;
$text-color-darker: #233741;
$text-color-brighter: #6e7c82;
$call-to-action-blue-color: #4fb3e3;
$error-color: #ef8898;


// Fonts
$headings-font: 'Caveat Brush';
$text-font: 'PT Sans Caption', sans-serif; // 400, 700 font-weight


// Font size

$heading-large: 24pt;
$heading-small: 20pt;
$text-medium: 12pt;
$text-small: 10pt;
$text-extra-small: 8pt;