// Fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=PT+Sans+Caption:wght@400;700&display=swap');


// Reset 
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
    border: 1px solid black;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  font-family: 'Caveat Brush';
}

p, span, a, h3, h4, h5, h6, button, ::placeholder {
  font-family: 'PT Sans Caption';
}

p {
  font-size: 10pt;
  line-height: 1.3rem;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}