@import "../../../../styles/abstracts/style.scss";

.successInputContainer {
    .successMessage {
      @include flex-row;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      padding-bottom: 15px;
      font-size: $text-small;
    }

    .referralInput {
      @include flex-column;
      height: 100%;
      gap: 10px;

      @include medium-screen {
        @include flex-row;
        height: 50px;
        gap: 0px;
      }

      input {
        padding-left: 15px;
        border: 1px solid $text-color-brighter;
        color: $text-color-brighter;
        font-size: $text-medium;

        @include medium-screen {
          border-radius: 10px 0 0 10px;
        }
      }

      button {
        width: 100%;
        background-color: $call-to-action-blue-color;
        color: white;
        border-color: $text-color-brighter;

        @include medium-screen {
          width: 30%;
          height: 100%;
          border-radius: 0 10px 10px 0;
          border-left: none;
        }
      }
    }
  }